<!-- Footer -->
<footer class="base-footer">
    <div class="footer-container">
        <div class="footer-logo">
            <i class="fa-solid fa-layer-group"></i> Prof
        </div>
        <ul class="footer-links">
            <li><a href="{% url 'landing_page:home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'dashboard:index' %}">Dashboard</a></li>
            <li><a href="{% url 'authentication:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'authentication:login' %}">Login</a></li>
            <li><a href="{% url 'authentication:register' %}">Register</a></li>
            {% endif %}
        </ul>
        <div class="footer-copyright">
            <p>&copy; 2024 Prof. All rights reserved.</p>
        </div>
    </div>
</footer>
